<mat-form-field>
  <mat-select placeholder="Sort by" (change)="selectChanged($event)">
    <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
