<div fxLayout="column">
  <div class="container" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="center start">
    <tr-filters fxFlex="35"
                (starRatingsFilterChanged)="onStarRatingsFilterChanged($event)"
                (nameFilterChanged)="onNameFilterChanged($event)"
                (maximumCostFilterChanged)="onMaximumCostFilterChanged($event)"
                (minimumUserRatingChanged)="onMinimumUserRatingChanged($event)"
    ></tr-filters>
    <div fxFlex="65" fxLayout="column" fxLayoutAlign="space-around stretch">
      <div>
        <tr-sort-by (sortByChanged)="onSortByChanged($event)"></tr-sort-by>
        <tr-establishment fxFlexAlign="center" *ngFor="let establishment of establishments$ | async"
                          [establishment]="establishment">
        </tr-establishment>
      </div>
      <div *ngIf="!(resultsLoaded$ | async)" class="message">
        Please specify some filters to see your hotels
      </div>
      <div *ngIf="(resultsLoaded$ | async) && !(establishments$ | async)?.length" class="message">
        There are no results that match your filters
      </div>
      <div *ngIf="(resultsLoaded$ | async) && (establishments$ | async)?.length">
        <button mat-raised-button color="primary" class="pull-right" (click)="onLoadMoreClicked()">LOAD MORE</button>
      </div>
    </div>
  </div>
</div>
