<div class="filters">
  <div class="filter-title">
    Filter by
  </div>
  <div class="filter-subtitle">
    Name
  </div>
  <div class="input">
    <input type="text" name="name" placeholder="Enter a hotel name" [ngModel]="name"
           (ngModelChange)="onNameChanged($event)">
  </div>
  <div class="filter-subtitle">
    Star rating
  </div>
  <div class="filter-content">
    <mat-checkbox class="block" [ngModel]="ratings[4]" (ngModelChange)="onStarRatingChanged($event, 5)">
      <tr-star-rating [rating]="5" class="margin-left"></tr-star-rating>
    </mat-checkbox>
    <mat-checkbox class="block" [ngModel]="ratings[3]" (ngModelChange)="onStarRatingChanged($event, 4)">
      <tr-star-rating [rating]="4" class="margin-left"></tr-star-rating>
    </mat-checkbox>
    <mat-checkbox class="block" [ngModel]="ratings[2]" (ngModelChange)="onStarRatingChanged($event, 3)">
      <tr-star-rating [rating]="3" class="margin-left"></tr-star-rating>
    </mat-checkbox>
    <mat-checkbox class="block" [ngModel]="ratings[1]" (ngModelChange)="onStarRatingChanged($event, 2)">
      <tr-star-rating [rating]="2" class="margin-left"></tr-star-rating>
    </mat-checkbox>
    <mat-checkbox class="block" [ngModel]="ratings[0]" (ngModelChange)="onStarRatingChanged($event, 1)">
      <tr-star-rating [rating]="1" class="margin-left"></tr-star-rating>
    </mat-checkbox>
  </div>
  <div class="filter-subtitle">
    Minimum user rating
  </div>
  <div class="filter-content">
    <mat-slider [min]="0" [max]="10" step="0.5" #slider thumbLabel style="width:100%;" (change)="onMinimumUserRatingChanged($event)">
    </mat-slider>
  </div>
  <div class="filter-subtitle">
    Maximum cost
  </div>
  <div class="input">
    <input type="number" name="maximum" placeholder="Enter a maximum cost" [ngModel]="maximum"
           (ngModelChange)="onMaximumCostChanged($event)">
  </div>
</div>
