.filters {
  margin-right: 24px;
  box-sizing: border-box;

  .filter-title {
    background: #459bd4;
    color: white;
    padding: 12px;
    font-size: 20px;
  }

  .filter-subtitle {
    background-color: #f6f5f5;
    color: #265fb2;
    padding: 12px;
  }

  .filter-content {
    padding: 12px;

  }

  input {
    box-sizing: border-box;
    border: none;
    padding: 12px;
    font-size: 1.2em;
    width: 100%;
  }

  .block {
    display: block;
  }

  .margin-left {
    margin-left: 6px;
  }
}
