<mat-card class="card-large">
  <div fxLayout="row">
    <div><img [src]="establishment.ImageUrl"/></div>
    <div fxFlex="24px"></div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start start">
      <p class="mat-headline margin-bottom">{{ establishment.Name }}</p>
      <div fxLayout="row" fxLayoutAlign="center" class="margin-bottom">
        <mat-icon>place</mat-icon>
        <span>{{ establishment.Location }}</span></div>
      <div fxLayout="row" fxLayoutAlign="center center" class="margin-bottom">
        <div fxLayout="row" fxLayoutAlign="center center" class="margin-bottom">
          <tr-star-rating [rating]="establishment.Stars"></tr-star-rating>
          <span class="vert-bar">&#x0007C;</span>
          <span
            class="rating"><strong>{{ establishment.UserRating }} {{ establishment.UserRatingTitle }}</strong></span>
          <span class="rating">&nbsp;({{ establishment.UserRatingCount }} Rating</span>
          <span class="rating" *ngIf="establishment.UserRatingCount!=1">s</span>
          <span class="rating">)</span><br/>
        </div>
      </div>
      <span class="rooms-from-text">Rooms from</span>
      <span class="rooms-from">£{{ establishment.MinCost | number }}</span>
    </div>
  </div>
</mat-card>
