mat-card {
  &.card-large {
    margin-bottom: 24px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  .mat-headline, span, mat-icon {
    color: #265fb2;
  }

  .margin-bottom {
    margin: 0 0 10px 0;
  }

  .vert-bar {
    color: #ddd;
    padding: 0 8px;
  }

  .rating {
    color: #459bd4;
  }

  p.rating {
    margin: 0px;
  }

  .rooms-from-text {
    font-size: 0.75em;
    color: #333;
  }

  .rooms-from {
    color: #ee7f32;
    font-size: 1.5em;
  }
}
