.mat-sidenav {
  min-width: 15vw;

  .mat-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }
}

.tr-content {
  padding: 32px;
  box-sizing: border-box;
}

.mat-toolbar {
  .mat-icon {
    cursor: pointer;
  }

  .tr-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

h1 {
  font-size: 20px;
}

.tr-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
