<div>
  <mat-toolbar color="primary">
    <div class="tr-toolbar">
      <h1>Travel Republic Technical Test</h1>
      <div>
        <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          <mat-icon>fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="tr-content">
    <router-outlet></router-outlet>
  </div>
</div>
